body,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #101111;
  background: #f2f2f2;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

hr {
  width: 240px;
  margin-left: 10px;
  border-width: 0.75px;
  border-color: #f2f2f2;
}

.p5Canvas {
  border: 5px solid #d5d6d6;
}

/* Modal loader */
.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.loader {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 15px auto 35px auto;
  text-align: center;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  z-index: 10;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
}

.nav-tabs {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background-color: #f8f9fa;
}

.nav-link {
  border: solid 1px #dae3e5 !important;
  background-color: #f1f1f1;
}

.nav-link.active {
  border: 0px;
  background-color: #dae3e5 !important;
}

#logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}

#content-spacer {
  margin-top: 30px;
}

.list-tracks {
  margin-right: 10px;
  padding: 10px 30px 20px 30px;
  border: solid 1px #cccccc;
  background: #d4dbdc;
}

.col {
  overflow-wrap: break-word !important;
}

.panel-design {
  /*
  border: solid 1px #cccccc;
  background: #d4dbdc;
  */
}

#sidemenu {
  z-index: 3;
}

#p5canvas {}

#track-features {
  width: 250px;
  padding-left: 30px;
  float: left;
}