body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #101111;
  background: #dae3e5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}

hr {
  width: 240px;
  margin-left: 10px;
  border-width: 0.75px;
  border-color: #dae3e5;
}

.p5Canvas{
  border: 5px solid #d5d6d6;
}

/* Modal loader */
.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.loader {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 15px auto 35px auto;
  text-align: center;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  z-index: 10;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-txt {
  p {
    font-size: 13px;
    color: #666;

    small {
      font-size: 11.5px;
      color: #999;
    }
  }
}

.navbar {
  width: 100%;
}
.nav-tabs{
  background-color: #f8f9fa;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}

.nav-link{
  background-color: #f1f1f1;
  border: solid 1px #dae3e5 !important;
}

.nav-link.active{
  background-color: #dae3e5 !important;
  border: 0px;
}

#logo {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.4rem;
}

#content-spacer {
  margin-top: 30px;
}

#search-field-old {
  width: 250px;
  height: 35px;
}

.list-tracks{
  border: solid 1px #cccccc;
  padding: 10px 30px 20px 30px;
  background: #d4dbdc;
  margin-right: 10px;
}
.col{
  overflow-wrap: break-word !important;
}

.panel-design{
  /*border: solid 1px #cccccc;
  background: #d4dbdc;
  */
}

#sidemenu {
  z-index: 3;
}

#p5canvas {}

#trackfeatures {
  width: 250px;
  padding-left: 30px;
  float: left;
}