body,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #101111;
  background: #f2f2f2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

hr {
  width: 240px;
  margin-left: 10px;
  border-width: 0.75px;
  border-color: #f2f2f2;
}

/* Modal loader */
.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

.loader {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: 15px auto 35px auto;
  text-align: center;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  z-index: 10;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
}

#logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}

#content-spacer {
  margin-top: 30px;
}

#search-field {
  width: 250px;
  height: 35px;
}

#sidemenu {
  background: #04080f;
  z-index: 3;
}

#p5canvas {}

#trackfeatures {
  width: 250px;
  padding-left: 30px;
  float: left;
}